@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=Lato:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans Arabic', 'Lato', sans-serif;
}

body{
    background-color: aliceblue;
}

.header{
    border: 1px solid #755B3E;
    display:flex;
    justify-content:space-around;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.nav-header{     
    width: 60%;     
    display: flex;     
    flex-direction: row;     
    justify-content: space-between;     
    color: #755B3E; }  
    
.nav-header a
{     
    padding: 10px;     
    display: flex;     
    justify-content: center;     
    align-self: center; 
}

.section-principal-img-lanche{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 80px;
}

.descricao{
    display: flex;
}

p{
    padding: 5px;
    text-align: center;
}

h3{
    display: flex;
    justify-content: center;
}

.section-video{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.h2-video{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 20px;
color: #755B3E;
}

.video-iframe{
    /* border: 2px solid #755B3E;
    border-radius:10px; */
    max-width: 100%;
    box-shadow: 0px 0px 11px 2px rgb(0 0 0 / 25%);
    margin-bottom: 20px;
}

footer{
    border: 1px solid #755B3E;
}

.footer-content{
    background-color: aliceblue;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content:space-evenly;
    align-items:center;
    height: 100px;
}

.p-footer{
    color: #755B3E;
}

.nav-footer{
    width: 120px;
    display: flex;
    justify-content:space-between;
}


.img-footer{
    width: 50px;
    display: flex;
    align-content: center;
    justify-content:center;

}

@media (min-width: 1280px){

    .section-cards-curiosidades{
        flex-direction: row;
        gap: 30px;
    }

    .cards{
        max-width: 30%;
        height: 520px;
    }
    
    .img-cards{
        max-width: 80%;
    }

    .imgMeio{
        max-width: 270px;
        height: 192px;
    }


    .video-iframe{
        width: 1000px;
        height: 600px;
    }
}