@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=Lato:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans Arabic', 'Lato', sans-serif;
}

body{
    background-image: url(../img/bkg-login2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header{
    /* border: 10px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    height: 85px;
    width: 100%;
    position: top;
}

.header-div-img1-p{
    /* border: 10px solid burlywood; */
    display: flex;
    color: rgb(214, 174, 42);
    gap: 10px;
    margin-left: 10px;
}

.header-img1{
    /* border: 10px solid blueviolet; */
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.header-p{
    /* border: 10px solid red; */
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.span-header{
    color:red;
}

.header-ul{
    /* border: 10px solid gray; */
    display: none;
    cursor:pointer;
}


.header-img2{
    border: 10px solid green;
    display: none;
    cursor: pointer;
}

.header-img3{
    /* border: 10px solid yellow; */
    width: 50px;
    height: 50px;
}



textarea:focus, input:focus{
    outline: none;
}

a, label{
    font-size: .8rem;
}

a:hover{
    color: red;
}

/*Conteiner login*/
#login-container{
    background-color: white;
    border: 1px solid red;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 100px;
}

/* formulário*/

h1{
    color:red;
}

form{
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input{
    display: block;
    width: 100%; 
}

label{
    font-weight: bold;
}

input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus{
    border-bottom: 2px solid red; 
}

#forgot-pass{
    text-align: right;
    display: block;
}

input[type="submit"]{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color:#fff;
    background-color: red;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #8B0000;
    transition: .5s;
}

/* redes sociais*/

#social-container, #register-container p{
    margin-bottom: 20px;
}

#social-container i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: #FFF;
    margin: 0 5px;
    cursor: pointer;
}
.acesso {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.acesso img{
    width: 40px;
    border-radius: 50px;
    
}

/*
.fa-facebook{
    background-color: #3B5998;
}

.fa-linkedin{
    background-color: #0077B5;
}

*/

#register-container{
    margin-bottom: 10px;
}

.footer{
    /* border: 1px solid #755B3E; */
    background-color: #ffbc0d;
}

.footer-content{
    background-color: #ffbc0d;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    /* border: 10px solid goldenrod; */
    justify-content:space-evenly;
    align-items:center;
    /* width: 100%; */
    height: 100px;
    /* padding-left: 25px; */
}

.p-footer{
    /* border: 10px solid red;  */
    color: #755B3E;
}

.nav-footer{
    /* border: 10px solid rgb(117, 78, 4); */
    width: 120px;
    /* height: 100%; */
    display: flex;
    justify-content:space-between;
    /* align-items:center; */
}


.img-footer{
    /* border: 10px solid aquamarine; */
    width: 50px;
    display: flex;
    align-content: center;
    justify-content:center;

}

.footer-final{
    background-color: rgb(34, 34, 34);
    color: white;
    text-align: center;
}

@media (min-width: 1000px){

    .header-div-img1-p{
        display: flex;
        gap: 20px;
        padding: 0px 20px;
    }

    .header-div-ul-img{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0px 30px 0px 30px;
    }

    .header-ul{
        display: flex;
        color: white;
        list-style: none;
        flex-direction: row;
        border: none;
        gap: 20px;
        font-size: 14px;
    }

    .header-ul a{
        text-decoration: none;
        color: white;
    }


    .header-ul div{
        padding: 0px 30px 0px 30px;
    }

    
    .header-ul li:hover{
    border: 1px solid white;
    border-radius: 3px;
    animation: slide-bck-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    width: 90px;
    text-align: center;
    align-self: center;
    }

    .div-hd-img2{
        padding: 0px 5px 0px 20px;
    }

    .header-img2{
        display: block;
        width: 40px;
        height: 30px;
        border: none;
    }

    .header-img3{
        display:none;
    }

    .sec1-h1{
        width: 100%;
    }

.cards-container{
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap
}

.sec3-div-imgs{
    flex-direction: row;
    justify-content: center;
    gap: 115px;
    height: 315px;
}

.footer{
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
}

.footer-div-img1-p{
gap: 30px;

}

.footer-p{
    font-size: 2.4rem;
}

.footer-divpai{
    width: 300px;
}

}

@keyframes slide-bck-center {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: translateZ(-400px);
    }
  }
