@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=Lato:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans Arabic', 'Lato', sans-serif;
}

.header{
    /* border: 10px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    height: 85px;
}

.header-div-img1-p{
    /* border: 10px solid burlywood; */
    display: flex;
    color: white;
    gap: 10px;
    margin-left: 10px;
}

.header-img1{
    /* border: 10px solid blueviolet; */
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.header-p{
    /* border: 10px solid red; */
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.span-header{
    color:red;
}

.header-ul{
    /* border: 10px solid gray; */
    display: none;
    cursor:pointer;
}


.header-img2{
    border: 10px solid green;
    display: none;
    cursor: pointer;
}

.header-img3{
    /* border: 10px solid yellow; */
    width: 50px;
    height: 50px;
}

.sec1-principal{
    /* border: 10px solid purple; */
    background-image: url(../img/banner-principal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

.sec1-h1{
    /* border: 10px solid white; */
    color: white;
    font-size: 2.4rem;
    width: 336px;
}

.sec1-span{
    color: red;
}

.sec1-a{
    color: white;
    background-color: red;
    width: 170px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor:pointer;
    text-decoration: none;
}

.sec1-a:hover{
    animation: slide-bck-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    width: 180px;
    color:black;
}
.main{
    /* border: 10px solid rgb(137, 107, 197); */
    background-color: rgba(163, 161, 158, 0.144);
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sec2-meio{
    /* border: 10px solid rgb(86, 161, 0); */
    display: flex;
    flex-direction: column;
}

.sec2-h2{
    /* border: 10px solid brown; */
    text-align: center;
    margin: 20px;
}

.cards-container{
    /* border: 10px solid burlywood; */
    display: flex;
    flex-direction: column;
}

.cards{
    border: 5px solid #22222257;
    background-color: white;
    height: 380px;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}

.div-imgs-card{
    /* border: 3px solid black; */
    display: flex;
    
}

.cards-img{
    /* border: 5px solid yellow; */
    width: 125px;
    cursor:pointer;
}

.div-conteudo-card{
    border-top: 4px solid #22222257;
    width: 300px;
    height: 110px;
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    justify-content: center;
    align-items: center;
    /* background-color:rgba(241, 238, 234, 0.199); */
    border-radius:2px;
}


.sec3-h2{
    /* border: 10px solid  aqua;  */
    text-align: center;
    margin: 20px; 
}

.sec3-div-imgs{
    /* border: 10px solid  black;  */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    /* width: 100%; */
    gap: 10px;
    height: 500px;
}

.img-bkg-1{
    background-image: url('../img/produto-estrela1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 330px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: larger;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.img-bkg-2{
    background-image: url('../img/produto-estrela2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 330px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: larger;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.sec3-img-categ1{
    /* border: 10px solid  blue;  */
    width: 90%;
}

.sec3-img-categ2{
    /* border: 10px solid  plum;  */
    width: 90%;
}

.footer{
    /* border: 10px solid  brown;  */
    background-color: #222222;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    /* height: 400px; */
    gap: 20px;
    padding: 60px;
}

.footer-div-img1-p{
    /* border: 10px solid  black;  */
    display: flex;
    color: white;
    width: 220px;
    justify-content:space-between;
}

.footer-img1{
    /* border: 10px solid  blue;  */
    width: 90px;
    cursor: pointer;
}

.footer-p{
    /* border: 10px solid  greenyellow;  */
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer-span{
    color:red;
}

.footer-divpai{
    /* border: 10px solid  gray;  */
    display: flex;
    color:white;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.div-footer-p{
    /* border: 10px solid white; */
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
}

.footer-div-imgs{
    /* border: 10px solid  purple; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    gap: 20px; 
    width: 100%;
}

.footer-imgs{
    /* border: 10px solid  peru;  */
    width: 50px;
    height: 40px;
    cursor: pointer;
}

@media (min-width: 1000px){

    .header-div-img1-p{
        display: flex;
        gap: 20px;
        padding: 0px 20px;
    }

    .header-div-ul-img{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0px 30px 0px 30px;
    }

    .header-ul{
        display: flex;
        color: white;
        list-style: none;
        flex-direction: row;
        border: none;
        gap: 20px;
    }


    .header-ul div{
        padding: 0px 30px 0px 30px;
    }

    
    .header-ul li:hover{
    border: 1px solid white;
    border-radius: 3px;
    animation: slide-bck-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    width: 90px;
    text-align: center;
    align-self: center;
    }

    .div-hd-img2{
        /* border: 20px solid; */
        padding: 0px 5px 0px 20px;
    }

    .header-img2{
        display: block;
        width: 60px;
        height: 30px;
        border: none;
    }

    .header-img3{
        display:none;
    }

    .sec1-h1{
        width: 100%;
    }

.cards-container{
    flex-direction: row;
    justify-content: center;
}

.sec3-div-imgs{
    flex-direction: row;
    justify-content: center;
    gap: 115px;
    height: 315px;
}

.footer{
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
}

.footer-div-img1-p{
gap: 30px;

}

.footer-p{
    font-size: 2.4rem;
}

.footer-divpai{
    width: 300px;
}

}

@keyframes slide-bck-center {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: translateZ(-400px);
    }
  }
  